In [1]:
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Reload local python files every 2 seconds
%load_ext autoreload
%autoreload 2

In [3]:
# Set random seed
RANDOM_STATE = 1234
random.seed(RANDOM_STATE)
np.random.seed(RANDOM_STATE)

## Import dataset and check info

In [4]:
# import dataset
df = pd.read_csv('Last_Sale_Price.csv')
# check info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NFT_Name         10000 non-null  int64
 1   Last_Sale_Price  8776 non-null   object
dtypes: int64(1), object(1)
memory usage: 156.4+ KB

In [5]:
# check the number of NA
df.isnull().sum()

NFT_Name              0
Last_Sale_Price    1224
dtype: int64

## Drop NA rows and split Last_Sale_Price

In [6]:
# drop all rows that have NaN values
df.dropna(axis=0, how='any', inplace=True)

In [7]:
# split Last_Sale_Price to Price and Currency
df['Price'] = df['Last_Sale_Price'].map(lambda x:x. split(' ')[0])
df['Currency'] = df['Last_Sale_Price'].map(lambda x:x. split(' ')[1])
# convert data type to float
df['Price'] = df['Price'].str.replace(',', '').astype(float)
# remove Last_Sale_Price column
df.drop(['Last_Sale_Price'], axis=1, inplace=True)

## Check currency unit and unify

In [8]:
# check and count the currency unit
df['Currency'].value_counts()

ETH     7573
WETH    1194
USDC       8
DAI        1
Name: Currency, dtype: int64

In [9]:
# unify the currency unit
df["Currency"].replace("WETH", "ETH", inplace=True)

In [10]:
# check the values of different currency unit
index_DAI = df[df.Currency == "DAI"].index.tolist()
df.loc[index_DAI]

     NFT_Name  Price Currency
835       835  115.0      DAI

In [11]:
# exchange
df.loc[835, 'Price'] = round(df.loc[835, 'Price'] * 0.00054, 4)
df["Currency"].replace("DAI", "ETH", inplace=True)
df.loc[index_DAI]

     NFT_Name   Price Currency
835       835  0.0621      ETH

In [12]:
# check the values of different currency unit
index_USDC = df[df.Currency == "USDC"].index.tolist()
df.loc[index_USDC]

      NFT_Name     Price Currency
2850      2850  112000.0     USDC
3868      3868  105500.0     USDC
4037      4037  150000.0     USDC
4217      4217  125000.0     USDC
4786      4786  150000.0     USDC
4916      4916  139269.0     USDC
6462      6462     200.0     USDC
7593      7593  177777.0     USDC

In [13]:
# exchange
for i in index_USDC:
    df.loc[i, 'Price'] = round(df.loc[i, 'Price'] * 0.00054, 4)
df["Currency"].replace("USDC", "ETH", inplace=True)
df.loc[index_USDC]

      NFT_Name    Price Currency
2850      2850  60.4800      ETH
3868      3868  56.9700      ETH
4037      4037  81.0000      ETH
4217      4217  67.5000      ETH
4786      4786  81.0000      ETH
4916      4916  75.2053      ETH
6462      6462   0.1080      ETH
7593      7593  95.9996      ETH

In [14]:
# double check and count the currency unit
df['Currency'].value_counts()

ETH    8776
Name: Currency, dtype: int64

## Check extreme values and fix them

In [15]:
# sort
df.sort_values(by=['Price', 'NFT_Name'], inplace=True)

In [16]:
# check the extremely high price and fix them
index_ex_high = df[df.Price > 1000].index.tolist()
df.loc[index_ex_high]

      NFT_Name     Price Currency
7537      7537   1024.00      ETH
232        232   1080.69      ETH
3217      3217  36969.00      ETH
4256      4256  38000.00      ETH

In [17]:
# fix by hand
df.drop([232], axis=0, inplace=True)
df.loc[3217, 'Price'] = round(df.loc[3217, 'Price'] * 0.003344, 4)
df.loc[4256, 'Price'] = round(df.loc[4256, 'Price'] * 0.003344, 4)
# check again
index_ex_high = df[df.Price > 1000].index.tolist()
df.loc[index_ex_high]

      NFT_Name   Price Currency
7537      7537  1024.0      ETH

In [18]:
# check the extremely low price and fix them
index_ex_low = df[df.Price < 0.01].index.tolist()
df.loc[index_ex_low]

      NFT_Name     Price Currency
225        225  0.000000      ETH
1904      1904  0.000000      ETH
4008      4008  0.000000      ETH
4572      4572  0.000000      ETH
4771      4771  0.000000      ETH
5353      5353  0.000000      ETH
6824      6824  0.000000      ETH
7398      7398  0.000000      ETH
7856      7856  0.000000      ETH
8179      8179  0.000000      ETH
8592      8592  0.000000      ETH
8698      8698  0.000000      ETH
18          18  0.000100      ETH
1565      1565  0.000100      ETH
3159      3159  0.000100      ETH
3411      3411  0.000100      ETH
5053      5053  0.000100      ETH
5560      5560  0.000100      ETH
4812      4812  0.000500      ETH
5717      5717  0.002500      ETH
8547      8547  0.002500      ETH
8286      8286  0.004200      ETH
6452      6452  0.005432      ETH

In [19]:
# fix by hand
df.drop([225], axis=0, inplace=True)
df.loc[1904, 'Price'] = 3.3
df.loc[4008, 'Price'] = 38.2
df.loc[4572, 'Price'] = 9
df.loc[4771, 'Price'] = 0.35
df.loc[5353, 'Price'] = 85
df.loc[6824, 'Price'] = 0.32
df.loc[7398, 'Price'] = 6.1
df.loc[7856, 'Price'] = 3.4453
df.loc[8179, 'Price'] = 0.44
df.loc[8592, 'Price'] = 12.75
df.loc[8698, 'Price'] = 0.75
df.loc[18, 'Price'] = 18
df.loc[1565, 'Price'] = 6
df.loc[3159, 'Price'] = 10
df.loc[3411, 'Price'] = 9
df.loc[5053, 'Price'] = 4.5
df.loc[5560, 'Price'] = 4.5
df.loc[4812, 'Price'] = 8.5
df.loc[5717, 'Price'] = 1
df.loc[8547, 'Price'] = 0.72
df.loc[8286, 'Price'] = 4.99
df.loc[6452, 'Price'] = 52.69
# check again
index_ex_low = df[df.Price < 0.01].index.tolist()
df.loc[index_ex_low]

Empty DataFrame
Columns: [NFT_Name, Price, Currency]
Index: []

In [20]:
df.to_csv("price_cleaned.csv", index=False)